body {
    font-family: sans-serif;
  }
  .original{
    background-color : skyblue;
    
  }
  .changingColor{
    
    background-color:purple;
    
  }
  
  .changedColor{
    background-color:yellow;
  }
  .js-clock{
    text-align: center;
    font-size: 40px;
  }